*{
	margin: 0;
	padding: 0;
}
body{

}
h1{
	font-weight: bold;
	color: #fff;
	font-size: 72px;
	margin: 0 auto;

}
#header{
	height: 800px;
	background-image: url(header.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
#header ul{
	list-style: none;
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}
#header ul li{
	float: left;
	margin-right: 29px;
}
#header ul li a{
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	padding: 8px 20px;
	text-transform: uppercase;
	border:5px double white;
	color:white;
}
#header ul li a:hover{
	border:5px double black;
	color:black;
}